nav {
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
    background: rgb(105, 107, 243);
    color: white;
    margin-bottom: 2em;
  }
  
  .nav-links {
    display: flex;
    justify-content: row;
    align-items: center;
    list-style: none;
    font-size: 19px;
    gap: 3em;
  
  }
.nav-links a {
    color: white;
    text-decoration: none;
  }

.nav-links a:hover {
    margin-bottom: 20px;
    color: blue;
    text-decoration-thickness: 3px;
    text-underline-position: under;
  }