#root {
  margin: 0;
  text-align: center;
  background-color: rgb(230, 207, 207);
  gap:3em;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

h1 {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgb(19, 83, 143)
}

#artistList img {
  width: 270px;
  height:300px;
  border-radius: 10px;
}

#artistList {
  display: flex;
  flex-direction: row;
  gap:3em;
  margin: 20px 700px 50px 700px;
  margin-bottom: 0;
}
/*
#Artist p {
  margin-left: 100px;
  margin-right: 100px; 
}

.artist {
  margin-bottom: 0;
}

.artistText{
 margin-top: 70px;
  margin-bottom: 50px;*/
  /*display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0px;
}


#artistList {
  display: flex;
  gap:3em;
  margin: 10px 300px 50px 300px;
}
/*
#lunayList div {
  padding: 20px;
  background-color: rgb(220, 169, 226);
  border-radius: 10px;
 }*/
/*


#artistList a {
  text-decoration: none;
  background-color:rgb(202, 172, 206);
  padding:10px;
  color: rgb(44, 41, 41);
  border-radius: 10px;
}

#artistList a:hover {
  background-color: rgb(204, 194, 194);
}

.bottomDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left:600px;
  margin-right:600px;
  margin-bottom: 6em;
}

button[type="submit"]{
  padding:10px;
  background-color:rgb(243, 229, 229);
  margin-top: 10px;
  margin-left: 200px;
  margin-right: 200px;
}

textarea {
  padding-bottom:40px;
  text-align: start;
}

.reviews {
  padding:200px;
  margin-left:300px;
  margin-right: 300px;
  margin-bottom: 5em;
  background-color: white;
}
